<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<head>
    <link rel="stylesheet" type="text/css" href="css/logincss.css">
</head>
<div class="wrapper fadeInDown">
    <h1 style="color: #999792; align-content: center; text-shadow: 2px 2px 3px #cccccc;">The Board</h1>
    <div id="formContent">
        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="#">Not registered yet?</a>
        </div>

    </div>
</div>